SECRET_KEY='YOUR_DJANGO_SECRET_KEY'
DATABASE_URL='YOUR_DATABASE_URL'
EMAIL_HOST='YOUR_EMAIL_HOST'
EMAIL_HOST_USER='YOUR_EMAIL_HOST_USER'
EMAIL_HOST_PASSWORD='YOUR_EMAIL_HOST_PASSWORD'
DEFAULT_FROM_EMAIL='YOUR_DEFAULT_FROM_EMAIL'